### Categoricals i agrupacions.
Es pot marcar els diferents valors d'una de les columnes, del tipus Categories, marcant-la com categories dins la columna, no com a valors. categories documentació oficial

In [22]:
import numpy as np 
import pandas as pd
import copy
#np --> numerical panda, es una llibreria per a realitzar càlcul numèric
#les notes de dawbio amb series
student_list=["John","Mary","Lucy","Peter", "Steven", "Laura", "Marti", "Paula"]
grades_list = [7,9,8,4,1,6,10,9]
wants_dual_list = [False,True,False,True,True,False,False,True]
datos: dict[list] = {"grade": grades_list,
                   "dual": wants_dual_list}
students_frame = pd.DataFrame(
    index=student_list,
    data = datos
)
students_frame

        grade   dual
John        7  False
Mary        9   True
Lucy        8  False
Peter       4   True
Steven      1   True
Laura       6  False
Marti      10  False
Paula       9   True

In [23]:
#create a new column
students_frame.loc[:,"cat_grade"] = ["Not","Exc","Not","Insuf.","NP","Bien","Exc","Exc"]
print(students_frame.dtypes)

grade         int64
dual           bool
cat_grade    object
dtype: object

In [24]:
students_frame.loc[:,"cat_grade"]= students_frame.loc[:,"cat_grade"].astype("category")
print(students_frame.dtypes)

grade           int64
dual             bool
cat_grade    category
dtype: object

In [25]:
students_frame.loc[:,"cat_grade"]

John         Not
Mary         Exc
Lucy         Not
Peter     Insuf.
Steven        NP
Laura       Bien
Marti        Exc
Paula        Exc
Name: cat_grade, dtype: category
Categories (5, object): ['Bien', 'Exc', 'Insuf.', 'NP', 'Not']

In [27]:
#reasignar totes les categories 
#amb reversed ordenem de més alta a més baixa
cat_grades: list[str] = ["Exc","Not","Bien","Sufi","Insuf.","NP"]
students_frame.loc[:,"cat_grade"]= students_frame.loc[:,"cat_grade"].cat.set_categories(cat_grades)
#Order by cat_grade and grade
students_frame.sort_values(by=["cat_grade","grade"],ascending=False)

        grade   dual cat_grade
Steven      1   True        NP
Peter       4   True    Insuf.
Laura       6  False      Bien
Lucy        8  False       Not
John        7  False       Not
Marti      10  False       Exc
Mary        9   True       Exc
Paula       9   True       Exc